{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tswan Farms Integrated</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Stick+No+Bills:wght@300;400;500;600;700&display=swap"rel="stylesheet"
    />
  </head>
  <body>
    <div class="products mt-5">
      <div class="row">
        <div class="col-md-4 item">
          <div class="testimonial-content">
            <div class="testimonial">
              <div class="card-content text-center">
                <img src="https://res.cloudinary.com/enadama-group/image/upload/v1614854978/farm4me/maize_ici83i.webp" class="img-fluid" alt="client-img"  style="height:200px">
                <h3>Maize</h3>
                <h1>&#8358; 227,000</h1><p>Investment Sum per Hectare</p>
                <ul style="line-height: 5vh">
                  <li style="list-style: none !important">
                    Profit Per Hectare: &#8358; 27,240
                  </li>
                  <li style="list-style: none !important">
                    Duration: 6 Months
                  </li>
                  <li style="list-style: none !important">
                    Season: Dry and Wet
                  </li>
                  <li style="list-style: none !important">
                    Insurance: LeadWay Assured
                  </li>
                  <li style="list-style: none !important">
                    Refund Policy: 100% Money Back Guaranteed
                  </li>

                </ul>
              </div>
              <a href="register" class="btn btn-outline-primary btn-block btn-lg">
                Sign Up
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="testimonial-content">
            <div class="testimonial">
              <div class="card-content text-center">
                <img src="https://res.cloudinary.com/enadama-group/image/upload/v1614857143/farm4me/rice-seed_xx8fte.jpg" class="img-fluid" alt="client-img" style="height:200px">
                <h3>Paddy Rice</h3>
                <h1>&#8358; 298,278</h1><p>Investment Sum per Hectare</p>
                <ul style="line-height: 5vh">
                  <li style="list-style: none !important">
                    Profit Per Hectare: &#8358; 53,690
                  </li>
                  <li style="list-style: none !important">
                    Duration: 6 Months
                  </li>
                  <li style="list-style: none !important">
                    Season: Dry and Wet
                  </li>
                  <li style="list-style: none !important">
                    Insurance: LeadWay Assured
                  </li>
                  <li style="list-style: none !important">
                    Refund Policy: 100% Money Back Guaranteed
                  </li>

                </ul>
              </div>
              <a href="register" class="btn btn-outline-primary btn-block btn-lg">
                Sign Up
              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4 item">
          <div class="testimonial-content">
            <div class="testimonial">
              <div class="card-content text-center">
                <img src="https://cdn.britannica.com/w:400,h:300,c:crop/66/212766-050-FF1A49A0/sesame-seeds-wooden-spoon.jpg" class="img-fluid" alt="client-img"  style="height:200px">
                <h3>Sesame Seed</h3>
                <h1>&#8358; 274,670</h1><p>Investment Sum per Hectare</p>
                <ul style="line-height: 5vh">
                  <li style="list-style: none !important">
                    Profit Per Hectare: &#8358; 41,200
                  </li>
                  <li style="list-style: none !important">
                    Duration: 6 Months
                  </li>
                  <li style="list-style: none !important">
                    Season: Dry and Wet
                  </li>
                  <li style="list-style: none !important">
                    Insurance: LeadWay Assured
                  </li>
                  <li style="list-style: none !important">
                    Refund Policy: 100% Money Back Guaranteed
                  </li>

                </ul>
              </div>
              <a href="register" class="btn btn-outline-primary btn-block btn-lg">
                Sign Up
              </a>
            </div>
          </div>
        </div>
  <script src= "{% static 'store/js/script.js' %}"></script>
  </body>
</html>
